@import "../utilities/variables";

.peoples-perspective {
    position: relative;
    padding-top: 200px;

    &__intro {
        margin-left: -160px;
    }

    &__overlay {

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        pointer-events: none;

        &--horizontal {
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 1) 100%);
        }

        &--vertical {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 98%);
        }
    }

    &__table {
        margin-top: -200px;
        overflow: hidden;
        position: relative;
        width: 100%;

        td {
            padding: 8px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                height: auto;
                filter: grayscale(100%);
            }
        }

        &--clickable {
            cursor: pointer;

            img {
                filter: none !important;
            }

            &__interview-info {
                position: absolute;
                top: 4px;
                left: 5px;
                pointer-events: none;
                width: 93%;
                height: 93.2%;
                border: solid #fff;
                padding: 15px;
                background-color: $dark-background-color;
                color: $text-color-light;
            }
        }

        &__content {
            width: 200px;
            z-index: 3;

            &__paragraph {
                padding: 40px;
                font-family: $font-heading-semibold;
                font-size: 1.25rem;
                line-height: 160%;
            }
        }

        &--last-row {
            td {
                border-bottom: 0;
            }
        }
    }
}