@import "../utilities/variables";

.imprint {
  color: $text-color-dark;
  padding-bottom: 120px;

  .section__heading {
    text-align: center;
  }

  .imprint__title-wrapper {
    text-align: right;

    h1 {
      font-family: $font-paragraph;
      font-size: 2.5rem;
    }

    h3 {
      font-family: $font-heading-bold;
      font-size: 1.3125rem;
    }

    .section__imprint__logo {
      width: 164px;

      display: inline;
    }

    .section__imprint__placeholder {
      padding-top: 24px;
    }
  }
  .section__paragraph__link {
    color: #4261c1;
    text-decoration: underline;
    cursor: pointer;
  }
  .section__paragraph__link:hover {
    color: #4261c1;
    text-decoration: none;
    cursor: pointer;
  }
}
.section__paragraph_imprint {
  line-height: 1.4;
}
