@import "../utilities/variables";

.country {
  color: $text-color-light;
  padding-bottom: 60px;
  padding-top: 160px;
  text-align: left;
  background-color: #181818;

  .section__paragraph {
    padding: 20px 0;
  }

  .section__heading {
    text-align: center;
    padding: 20px 20px 20px 20px;
  }
}

.parallax--divider {
  margin-top: 50px;
}

.parallax--divider--top {
  margin-top: 300px;
}

.parallax--divider--bottom {
  margin-bottom: 300px;
}

.parallax__paragraph {
  font-family: $font-paragraph;
  font-size: 1.25rem;
  line-height: 1.64;
  padding: 20px 20px 20px 20px;
}

$background-image: url("../../assets/imgs/photo-1545373127-b86f1551784c.jpg");
$background-image__gradient--from: rgba(0, 0, 0, 0.6);
$background-image__gradient--to: rgba(0, 0, 0, 0.6);

.parallaxcountry {
  background: #333;
  color: $text-color-light;
  background-image: linear-gradient(
      to bottom,
      $background-image__gradient--from,
      $background-image__gradient--to
    ),
    $background-image;
  background-image: -webkit-linear-gradient(
      top,
      $background-image__gradient--from,
      $background-image__gradient--to
    ),
    $background-image;

  /* Full height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

$background-image_city: url("../../assets/imgs/photo-1465447142348-e9952c393450.jpg");
$background-image__gradient--from_city: rgba(0, 0, 0, 0.6);
$background-image__gradient--to_city: rgba(0, 0, 0, 0.6);

.parallaxcity {
  /* The image  width: 100%; used */

  background: #333;
  color: $text-color-light;
  background-image: linear-gradient(
      to bottom,
      $background-image__gradient--from_city,
      $background-image__gradient--to_city
    ),
    $background-image_city;
  background-image: -webkit-linear-gradient(
      top,
      $background-image__gradient--from_city,
      $background-image__gradient--to_city
    ),
    $background-image_city;
  /* Full height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section__heading__container {
  position: absolute;
  top: 0px;
  left: 13.3333%;
  background-color: #181818;
}
