@import "../utilities/variables";

.country {
  color: $text-color-light;
  padding-bottom: 120px;
  padding-top: 160px;

  background-color: #181818;

  .section__paragraph {
    padding: 20px 0;
  }

  .section__heading {
    text-align: center;
  }
}

.parallax--right {
  padding-top: 500px;
  padding-bottom: 100px;
  margin-left: 58%;
}

.parallax--left {
  padding-top: 700px;
  padding-bottom: 100px;
  margin-right: 58%;
}

.parallax__paragraph {
  font-family: $font-paragraph;
  font-size: 1.2rem;
  padding: 20px 20px 20px 20px;
}
.paragraph--light {
  background-color: #ffffff;
  color: $text-color-dark;
}

.paragraph--dark {
  background-color: #181818;
  color: $text-color-light;
}

.parallaxcountry {
  /* The image used */
  background-image: url("../../assets/imgs/photo-1545373127-b86f1551784c.jpg");

  /* Full height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxcity {
  /* The image used */
  background-image: url("../../assets/imgs/photo-1465447142348-e9952c393450.jpg");

  /* Full height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
