@import "../utilities/variables";

$commercial-scs__background-color: #181818;
$governmental-scs__background-color: #D5433D;
$commercial-approval-bar-color: #383838;
$governmental-approval-bar-color: #93302E;


.types {
    padding: 60px 0;
    background: -webkit-linear-gradient(left, $commercial-scs__background-color 0%, $commercial-scs__background-color 50%, $governmental-scs__background-color 50.001%, $governmental-scs__background-color 100%);
}

.types__wrapper {
    padding: 0 50px;
}

.types__intro {
    background-color: #ffffff;
    margin-bottom: 60px;
    padding: 35px;

    .section__paragraph {
        margin: 0;
    }
}

.types__element {
    padding: 5px;
    color: $text-color-light;
}

.types__element__heading {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 20px;
}

.types__element__subheading {
    font-size: 1.5rem;
    font-family: $font-heading-bold;
}

.types__element__list {
    margin-left: -20px;
    font-family: $font-paragraph;
    font-size: 1.2rem;

    li {
        margin-top: 10px;
    }
}

.types__element__approval {
    width: 80%;
    margin: 60px 0;
}

.types__element__approval__bar {
    width: 100%;
    height: 6px;
    margin: 15px 0 5px;
}

.types__element__approval__bar-fill {
    height: 6px;
}

.types__element__approval__number {
    text-align: center;
}

.types__element__usage__visualization {
    width: 90%;
}

.types__element__usage__visualization-element {
    max-width: 5px;
    height: 40px;
    margin: 5px;
    background-color: $commercial-approval-bar-color;
}

.types__element__usage__text {
    font-family: $font-paragraph;
    font-size: 1.2rem;
    margin-top: 15px;
}

.types__element--commercial-scs {
    padding-right: 30px;
    padding-left: 0;

    .types__element__approval__bar {
        background-color: $commercial-approval-bar-color;
    }

    .types__element__approval__bar-fill {
        width: 55%;
        background-color: $governmental-scs__background-color;
    }

    .p1,
    .p2,
    .p3,
    .p4 {
        background-color: white;
    }

    .types__element__approval {
        margin: 130px 0 60px;
    }
}

.types__element--governmental-scs {
    padding-left: 10%;

    .types__element__approval__bar {
        background-color: $governmental-approval-bar-color;
    }

    .types__element__approval__bar-fill {
        width: 64%;
        background-color: $commercial-scs__background-color;
    }

    .p1,
    .p2 {
        background-color: white;
    }
}