@import "../utilities/variables";

$dark-background-color: #2E2E2E;
$governmental-scs__background-color: #3B4C81;
$approval-bar-color: rgba(255, 255, 255, 0.3);
$approval-bar-fill-color: #ffffff;

.types {
  margin-top: 125px;
  padding: 0 0 120px;
  background: -webkit-linear-gradient(left,
    $dark-background-color 0%,
    $dark-background-color 50%,
    $governmental-scs__background-color 50.001%,
    $governmental-scs__background-color 100%);
}

.types__wrapper {
  padding: 0 50px;
}

.types__intro {
  background-color: #ffffff;
  margin-bottom: 90px;
  margin-top: -125px;
  padding: 50px 140px;

  .section__paragraph {
    margin: 0;
  }
}

.types__element {
  padding: 5px;
  color: $text-color-light;
  text-align: center;

  &__heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  &__subheading {
    font-size: 1.5rem;
    font-family: $font-heading-bold;

    &--light {
      font-family: $font-heading-light;
    }
  }
}

.types__element__list {
  color: $text-color-light;

  li {
    border-color: $approval-bar-color;
  }
}

.types__element__approval {
  width: 80%;
  margin: 80px auto;
}

.types__element__approval__bar {
  width: 100%;
  height: 6px;
  margin: 15px 0 5px;
  background-color: $approval-bar-color;
}

.types__element__approval__bar-fill {
  height: 6px;
  background-color: $approval-bar-fill-color;
}

.types__element__approval__number {
  text-align: center;
  font-family: $font-heading-light;
}

.types__element__usage__visualization {
  width: 90%;
  margin: 30px auto;
}

.types__element__usage__visualization-element {
  max-width: 5px;
  height: 40px;
  margin: 5px;
  opacity: 0.2;
}

.types__element__usage__visualization-element--icon {
  margin-left: -12px;
  margin-top: 4px;
}

.types__element__usage__text {
  font-family: $font-paragraph;
  font-size: 1.2rem;
  margin-top: 15px;
}

.types__element--commercial-scs {
  padding-right: 60px;
  padding-left: 0;

  .types__element__approval__bar-fill {
    width: 55%;
  }

  .p1,
  .p2,
  .p3,
  .p4 {
    opacity: 1;
  }
}

.types__element--governmental-scs {
  padding-left: 60px;

  .types__element__approval__bar-fill {
    width: 64%;
  }

  .p1,
  .p2 {
    opacity: 1;
  }
}