$font-paragraph: Georgia,
"Times New Roman",
Times,
serif;

$font-heading-bold: Source Sans Pro Bold,
Helvetica,
sans-serif;

$font-heading-light: Source Sans Pro Regular,
Helvetica,
sans-serif;

$text-color: #333;