$font-paragraph: Georgia,
"Times New Roman",
Times,
serif;
$font-heading-bold: Source Sans Pro Bold,
Helvetica,
sans-serif;
$font-heading-light: Source Sans Pro Regular,
Helvetica,
sans-serif;
$font-heading-semibold: Source Sans Pro Semibold,
Helvetica,
sans-serif;

$text-color-dark: #333;
$dark-background-color: #181818;
$text-color-light: #fff;