@import "../utilities/variables";

$dashed-border-color: rgba(0, 0, 0, 0.2);

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.section {
  padding: 50px 0;
}

.section__heading {
  text-align: center;
  font-size: 2.5rem;
  color: $text-color-dark;
  padding-bottom: 25px;

  &--color--light {
    color: $text-color-light;
  }
}

.section__heading--bold {
  font-family: $font-heading-bold;
}

.section__heading--light {
  font-family: $font-heading-light;
}

.section__paragraph {
  font-family: $font-paragraph;
  font-size: 1.25rem;
  line-height: 1.64rem;
  color: $text-color-dark;
  text-align: center;

  &--color--light {
    color: $text-color-light;
  }
}

.section__data__paragraph {
  text-align: left !important;
}
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.section__image {
  width: 100%;
}

.additional_information {
  width: 100%;
  height: 100vh;
  left: 100%;
  top: 0;
  margin: 0;
  position: fixed;
  -webkit-transition: left 0.8s cubic-bezier(1, 0.5, 0.5, 1);
  transition: left 0.8s cubic-bezier(1, 0.5, 0.5, 1);
}

html {
  scroll-behavior: smooth;
}

.section__dashed-list {
  text-align: center;
  margin-left: -40px;
  font-family: $font-paragraph;
  font-size: 1.25rem;
  line-height: 1.64rem;
  list-style-type: none;
  color: $text-color-dark;

  li {
    padding: 25px;
    border-top: 1px $dashed-border-color dashed;

    &:first-of-type {
      border-top: none;
    }
  }
}
.wow {
  visibility: hidden;
}
