@import "../utilities/variables";

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.section {
    padding: 50px 0;
}

.section__heading {
    text-align: center;
    font-size: 2.5rem;
}

.section__heading--bold {
    font-family: $font-heading-bold;
}

.section__heading--light {
    font-family: $font-heading-light;
}

.section__paragraph {
    font-family: $font-paragraph;
    font-size: 1.2rem;
}

.section__image {
    width: 100%;
}