@import "../utilities/variables";

.navigation {
  color: $text-color-dark;

  width: 150px;
  position: fixed;
  z-index: 1;
  top: 40%;
  left: 2%;
  overflow-x: hidden;
  padding: 8px 0;
}

.navigation_element:hover {
  color: $text-color-dark;
}
.navigation_element {
  color: $text-color-dark;
  font-size: 1.2rem;
}

.navigation_list {
  background-color: white;
  padding: 10px 10px 10px 10px;
}
.navigation_button {
  color: $text-color-dark;
  text-decoration: none;
}
.navigation-button-picture {
  padding-bottom: 0.2rem;
}

.navigation_button:hover {
  color: $text-color-dark;
  text-decoration: none;
}

.nav-active {
  margin-left: 10px;
  font-weight: bold;
}

.triangle {
  width: 0;
  height: 0;
  margin-left: 10px;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent #ffffff transparent;
  border-style: solid;
}
