@import "../utilities/variables";

.navigation {
  color: $text-color-dark;
  width: 176px;
  position: fixed;
  z-index: 2;
  top: 40%;
  left: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: $font-heading-light;
  text-align: center;
}

.collapsed__navigation__menu {
  position: fixed;
  width: 176px;
  top: 40%;
  left: 0%;
  max-height: 430px;
  background-color: white;
}
.navigation__element:hover {
  color: gray;
  text-decoration: none;
}

.navigation__element {
  color: $text-color-dark;
  font-size: 1.125rem;
}

.navigation__list {
  padding: 12px 12px 50px 12px;

  li {
    padding-top: 12px;
  }
}

.nav-active {
  font-weight: bold;
}
