@import "../utilities/variables";

.dissemination {
  color: $text-color-light;
  padding-bottom: 80px;
  padding-top: 160px;

  background-color: #181818;

  .section__paragraph {}

  .section__heading {
    text-align: center;
  }
}

#disseminationChart {
  width: 100%;
  height: 550px;
}

.dissemination__text-wrapper {}