@import "../utilities/variables";

.intro {
  color: $text-color-dark;
  padding-bottom: 80px;

  .intro__study-info {
    margin-top: -20px;
    padding: 0 0 50px;

    .intro__study-info__icon {
      height: 16px;
      width: 16px;
      padding: 0;
    }

    .intro__study-info__text {
      padding: 0;
      font-family: $font-paragraph;
      color: $text-color-dark;
    }

    .intro__study-info__text--link {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .intro__paragraph {
    padding: 0 0 20px;
  }
}
