@import "../utilities/variables";

.intro {
  color: $text-color-dark;
  padding-bottom: 120px;

  .intro__study-info {
    margin-top: -20px;
    padding: 0 0 30px;

    .intro__study-info__icon {
      height: 16px;
      width: 16px;
      padding: 0;
    }

    .intro__study-info__text {
      padding: 0;
      font-family: $font-paragraph;
      color: $text-color-dark;
    }

    .intro__study-info__text--link {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .section__paragraph {
    padding: 20px 0;
  }

  .section__heading {
    text-align: left;
  }
}

<<<<<<< HEAD
.intro__text-wrapper {}
=======
.intro__text-wrapper {
}

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

.section__heading__modal {
  text-align: center;
  font-size: 2.5rem;
}
.section__paragraph__link {
  color: $text-color-dark;
  text-decoration: underline;
}
.section__paragraph__intro {
  font-size: 1rem;
  font-family: $font-paragraph;
  color: rgba(51, 51, 51, 0.8);
}
.intro__link {
  color: rgba(51, 51, 51, 0.8);
  text-decoration: underline;
}

.modal-header {
  border-bottom: none;
}
>>>>>>> fbebb3afe8fd095ddf7abbe9f5e176d292ff211a
