@import "../utilities/variables";

.behavior {
  color: $text-color-dark;
  padding-bottom: 120px;
  padding-top: 120px;

  .section__paragraph {
    padding: 20px 0;
  }

  .section__paragraph__consequences {
    padding: 20px 0;
    text-align: center;
  }

  .section__heading {
    text-align: center;
  }

  .list__element__heading {
    color: $text-color-light;
    font-size: 2rem;
    margin-left: 105px;
    position: absolute;
    margin-top: 20px;
  }

  .list__element__heading--black {
    color: $text-color-light;
    font-size: 2rem;

    position: absolute;
    margin-left: 45px;
    margin-top: 20px;
  }
}

.consequences__element__subheading {
  font-size: 2rem;
  font-family: $font-heading-bold;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}

.consequences__element__list {
  margin-left: -20px;
  font-family: $font-paragraph;
  font-size: 1.2rem;

  li {
    padding: 15px !important;
  }
}

.consequences__element__list {
  font-size: 1.5rem;

  li {
    padding: 15px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b8afaf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toogle--hide {
  display: none;
}

.toogle__text--invisible {
  color: #ccc;
}

.toogle__label__right {
  display: inline-block;
  padding-left: 20px;
  font-size: 1.5rem;
}

.toogle__label__left {
  display: inline-block;
  padding-right: 20px;
  font-size: 1.5rem;
}
