@import "../utilities/variables";

.behavior {
  color: $text-color-dark;
  padding-bottom: 120px;
  padding-top: 120px;

  .section__paragraph {
    padding: 20px 0;
  }

  .section__paragraph__consequences {
    padding: 20px 0;
    text-align: center;
  }

  .section__heading {
    text-align: center;
  }

  .list__element__heading {
    color: $text-color-light;
    font-size: 2rem;
    margin-left: 105px;
    position: absolute;
    margin-top: 20px;
  }

  .list__element__heading--black {
    color: $text-color-light;
    font-size: 2rem;

    position: absolute;
    margin-left: 45px;
    margin-top: 20px;
  }
}

.consequences__element__subheading {
  font-size: 2rem;
  font-family: $font-heading-bold;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.consequences__element__list {
  margin-left: -20px;
  font-family: $font-paragraph;
  font-size: 1.2rem;

  li {
    margin-top: 10px;
  }
}

.consequences__element__list {
  font-size: 1.5rem;

  li {
    padding: 15px;
  }
}
